/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --text-bg: #000028;
  --under-text-bg: var(--font-color);
  --accent-color: var(--font-color);
  --accent-color-opacity: rgba(255, 0, 112, 0.4);
  --page-color: #000028;

  --bg-image: url("../images/cover-image-dark.png");

  --dislay-none: inline-flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --text-bg: #000028;
    --under-text-bg: var(--font-color);
    --accent-color: var(--font-color);
    --accent-color-opacity: rgba(255, 0, 112, 0.4);
    --page-color: #000028;

    --bg-image: url("../images/cover-image-dark.png");

    --dislay-none: inline-flex;
  }
}
