/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-color: #353430;
  --title-color: #FFC2E6;
  --under-text-bg: #FF8DCB;
  --accent-color: #FF0070;
  --accent-color-opacity: rgba(50, 49, 45, 0.4);
  --page-color: #FFF1F7;

  --bg-image: url("../images/cover-image-light.png");

  --dislay-none: none;
}
