/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--page-color);
  background-position: center;
}

.header {
  padding: clamp(var(--small), 0.0286rem + 2.5445vw, var(--medium));
  align-items: start;
}

.decorated-zone {
  min-block-size: 768px;
  display: grid;
  position: relative;
}

.decorated-zone:before {
  content: "";
  position: absolute;
  bottom: var(--medium);
  left: var(--medium);
  height: 25px;
  width: 25px;
  border-block-end: 1px solid var(--font-color);
  border-inline-start: 1px solid var(--font-color);
}

.decorated-zone:after {
  content: "";
  position: absolute;
  top: var(--medium);
  right: var(--medium);
  height: 25px;
  width: 25px;
  border-block-start: 1px solid var(--font-color);
  border-inline-end: 1px solid var(--font-color);
}

.rec {
  position: absolute;
  display: var(--dislay-none);
  align-items: center;
  gap: var(--small);
  inset-inline-end: 29px;
  inset-block-start: var(--medium);
}

.rec::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 139%;
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: center;
  margin-inline-start: var(--medium);
  margin-block-end: 156px;
}

.header__theme-menu-list {
  display: flex;
  gap: var(--small);
  user-select: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  cursor: pointer;
  padding-inline: 12px;
  padding-block: 3px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-opacity);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--font-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--font-color);
  pointer-events: none;
}

.header__title {
  display: grid;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--title-color);
}

.subtitle {
  font-weight: 700;
  line-height: 130%;
  font-size: 18px;
}

.subtitle-decor {
  background-color: var(--under-text-bg);
  color: var(--text-bg);
}

.subtitle-position {
  justify-self: end;
  inline-size: clamp(355px, calc(100% / 2 - 10px), 491px);
}

.main {
  margin-block: 60px;
  display: grid;
  gap: 80px;
}

.section {
  margin-inline: var(--medium);
  display: grid;
  gap: var(--medium);
}

.section_block {
  grid-template-columns: auto 1fr;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 100%;
}

.section__title_width {
  max-width: 315px;
}

.section__articles {
  display: grid;
  gap: var(--medium);
}

.article__text {
  font-weight: 400;
  line-height: 130%;
  color: var(--text-color);
  margin-block-start: var(--small);
}

.link {
  text-shadow: 2px 2px 0 var(--under-text-bg);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--font-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--color-link-focus);
  outline: none;
}

.section__articles_block {
  grid-template-columns: repeat(3, 1fr);
}

.text {
  font-weight: 400;
  line-height: 130%;
}

.img-block {
  display: grid;
  grid-template-areas:
    "sunset sunset ice"
    "tape books ice"
    "tape street street"
    "tape street street";
  grid-gap: var(--medium);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-block *:nth-child(1) {
  grid-area: sunset;
}

.img-block *:nth-child(2) {
  grid-area: ice;
}

.img-block *:nth-child(3) {
  grid-area: tape;
}

.img-block *:nth-child(4) {
  grid-area: books;
}

.img-block *:nth-child(5) {
  grid-area: street;
}

.footer {
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  .decorated-zone {
    min-block-size: 100vh;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: end;
    margin-block-end: 173px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .section__title_width {
    max-width: 236px;
  }

  .section__articles_block {
    grid-template-columns: auto;
  }
}

@media (max-width: 375px) {
  .mbs-xs {
    margin-block-start: 3px;
  }

  .mbs-l {
    margin-block-start: 12px;
  }

  .decorated-zone {
    min-block-size: 100svh;
  }

  .decorated-zone:before {
    bottom: var(--small);
    left: var(--small);
  }

  .decorated-zone:after {
    top: var(--small);
    right: var(--small);
  }

  .rec {
    inset-inline-end: 19px;
    inset-block-start: var(--small);
  }

  .header__theme-menu {
    margin-block-end: 65px;
    margin-block-start: var(--small);
    margin-inline-end: 5px;
  }

  .subtitle-position {
    justify-self: start;
  }

  .main {
    margin-block: 40px;
    gap: 50px;
  }

  .section {
    margin-inline: var(--small);
    gap: var(--medium);
  }

  .section:last-child {
    gap: var(--small);
  }

  .section__articles {
    grid-template-columns: auto;
  }

  .section__articles:last-child {
    gap: 19px;
  }

  .section_block {
    grid-template-columns: auto;
  }

  .section__title_width {
    max-width: 355px;
  }

  .img-block {
    display: flex;
    flex-direction: column;
    gap: var(--small);
  }

  .image {
    height: fit-content;
    object-fit: contain;
  }
}

@media (min-width: 376px) {
  .header {
    padding-inline-start: 0;
  }
}
